doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body

  h1= title
  p #{content}
  if imageURL == undefined
  else
   img(src='#{imageURL}')

  if pageURL == undefined
   script.
    history.replaceState('data to be passed', 'NoteMaker', https://notemaker-server.herokuapp.com/notes');
  else
   script.
    history.replaceState('data to be passed', 'NoteMaker', '#{pageURL}');